{% load static i18n %}
<nav class="navbar navbar-expand-lg bg-white shadow-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% for x in restaurants %}
                <a class="navbar-brand" href="{{x.link}}">
                    {{x.name}}
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{x.link}}">{% trans 'Ana Sayfa' %}</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link social-icon-link bi-facebook" href="{{x.facebook}}"> Facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link social-icon-link bi-instagram" href="{{x.instagram}}"> İnstagram</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link social-icon-link bi-twitter" href="{{x.twitter}}"> Twitter</a>
                        </li>

                                            <li class="nav-item">
                                              <a href="#"><form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                                  <input name="next" type="hidden" value="{{ redirect_to }}" />
                                                      {% get_current_language as LANGUAGE_CODE %}
                                                      {% get_available_languages as LANGUAGES %}
                                                      {% get_language_info_list for LANGUAGES as languages %}
                                                      {% for language in languages %}
                                                      <button style="padding: 20px 10px; text-align: left; color:#EE3B01; background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;" type="submit" name="language" value="{{ language.code }}"
                                                              class="btn header_button ml-auto {% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                                          {{ language.code }}
                                                      </button>
                                                      {% endfor %}
                                              </form><span class="caret"></span></a>
                                            </li>

                    </ul>
                </div>
                {% endfor %}


            </div>
        </nav>